input {
  border: 1px solid var(--b5);
  padding: 6px 0px 6px 8px;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  &::placeholder {
    color: var(--b3);
  }
  &[type="date"] {
    //required 있어야 placeholder색 변경가능
    &:not(:valid)::-webkit-datetime-edit {
      color: var(--b3);
    }
  }
  &:disabled {
    background-color: var(--b4);
  }
  &:focus {
    outline: 1px solid var(--btn2);
  }
}
.mag {
  background-color: var(--btn2);
  width: 24px;
  height: 24px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  svg {
    color: var(--b7);
  }
}

.inputBox {
  position: relative;
  span {
    position: absolute;
    top: 7px;
    right: 10px;
    display: none;
    cursor: pointer;
  }
}
